body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #2c3e50;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.profile-img {
	 width: 150px; /* Atur lebar sesuai kebutuhan */
  height: 120px; /* Atur tinggi sesuai kebutuhan */
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.resume, .contact {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: white;
}
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.about-section {
  max-width: 800px;
  margin: 20px auto;
  text-align: justify; /* Meratakan kiri dan kanan */
  padding: 0 20px;
}

/* CSS untuk efek partikel salju */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* agar di bawah konten */
  background: #0d0d2b; /* latar belakang gelap seperti malam */
}

/* Konten Portofolio */
.content {
  position: relative;
  z-index: 1;
  padding: 100px 30px;
  color: white;
  text-align: center;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}




